#contactModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "contactModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h3#paymentModalLabel.modal-title Get In Touch
      = form_tag messages_path, method: :post, id: 'messageForm', remote: true do
        .modal-body.pad3
          .form-content
            .errors
            .form-group
              = hidden_field_tag 'message[van_id]', @van.id

              %label Your Name
              = text_field_tag "message[name]", current_user.try(:name), class: 'form-control'

            .form-group
              %label Your Email
              = text_field_tag "message[reply_to_email]", current_user.try(:email), class: 'form-control'

            .form-group
              %label Your Message
              = text_area_tag 'message[body]', nil, rows: 5, class: 'form-control'

        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
          = submit_tag "Send", class: 'btn btn-primary send-email-btn'
