- if @van.owned_by_company?
  .map-wrap{style: 'background: url('"#{@van.original_photo}"') center center no-repeat;background-size:cover;'}
    .container
      .row
        .col-lg-6.col-lg-offset-3
          .panel.pad3.text-center.van-author
            %p.added-by Added by
            %h3= @van.company.name
            %p= @van.company.description
            %p
              = link_to company_path(@van.company), class: 'btn btn-primary btn-block' do
                View Company
- else

  .map-wrap
    .container
      .row

        .row
          .col-lg-6.col-lg-offset-3
            .panel.pad3.van-author.text-center
              %p.added-by Added by
              %h3
                = @van.user.name
              %p
                = @van.user.bio

              - if @van.is_for_sale?
                %a.btn.btn-primary.btn-block{"data-target" => "#contactModal", "data-toggle" => "modal", :href => "#contactModal", :class =>'btn btn-default'}
                  Get in Touch
