= content_for(:og_tags) do
  %meta{:content => "#{@van.title} - $#{@van.price}", :name => "og:title"}/
  %meta{:content => @van.description, :name => "og:description"}
  %meta{:content => @van.original_photo, :name => "og:image"}

= render partial: 'vans/not_paid_warning'

.container-slick
  .slick-slider
    - @van.photos.ordered.each do |p|
      %div
        = image_tag p.image.url(:large)
.container
  .row
    .col-lg-10.col-lg-offset-1
      .row.title-wrap
        .col-lg-7
          %h1.van-title
            = @van.title
            = link_to("edit van", edit_user_van_path(@van), class: "btn btn-default btn-sm")  if current_user == @van.user
          .van-make
            = @van.make
            = @van.model
            = @van.year
        - if @van.is_for_sale?
          .col-lg-2
            .van-price.btn.btn-default
              Price:
              = @van.price
          .col-lg-3
            .van-contact
              - if @van.is_sold?
                %a.btn.btn-primary.btn-block{:class =>'btn btn-default'}
                  SOLD!
              - else
                %a.btn.btn-primary.btn-block{"data-target" => "#contactModal", "data-toggle" => "modal", :href => "#contactModal", :class =>'btn btn-default'}
                  Contact
      .row
        .col-lg-12
          .van-description
            %h3 About this van
            %p= @van.description
          .van-info
            .info-row
              .van-info--title Location
              .van-info--detail= @van.location
            .info-row
              .van-info--title Condition
              .van-info--detail= @van.condition.titleize
            .info-row
              .van-info--title Transmission
              .van-info--detail= @van.transmission.titleize
            .info-row
              .van-info--title Mileage
              .van-info--detail= @van.mileage
            .info-row
              .van-info--title Fuel Type
              .van-info--detail= @van.fuel_type.titleize
            .info-row
              .van-info--title Drivetrain
              .van-info--detail= @van.drivetrain.titleize
            - if @van.vin?
              .info-row
                .van-info--title VIN
                .van-info--detail= @van.vin
          - if @van.features?
            .van-features.pad8b
              %h3 Features
              = van_feature_tags(@van.features)
.row-fluid
  = render partial: 'vans/van_author'

= render partial: 'vans/contact_modal'

:javascript
  $(document).ready(function(){
    $('.slick-slider').slick({
       dots: true,
       adaptiveHeight: false,
       variableWidth: true,
       centerMode: true,
       arrows: true,
       centerPadding: 10,
       autoplay: true,
       autoplaySpeed: 4000
     });
  });
