= render partial: 'vans/not_paid_warning'

.gallery-wrap
  .gallery-images
    - @van.photos.each do |p|
      = image_tag p.image.url(:original)
.container
  .row
    .col-lg-10.col-lg-offset-1
      .row.title-wrap
        .col-lg-7
          %h1.van-title
            = @van.title
          .van-make
            = @van.make
            = @van.model
            = @van.year
        .col-lg-2
          .van-price.btn.btn-default
            Price:
            = @van.price
        .col-lg-3
          .van-contact
            %a.btn.btn-primary.btn-block{"data-target" => "#contactModal", "data-toggle" => "modal", :href => "#contactModal", :class =>'btn btn-default'} 
              Contact
      .row
        .col-lg-12
          .van-description
            %h3 About this van
            %p= @van.description
          .van-info
            %dl
              %dt Transmission
              %dd= @van.transmission
              %dt Mileage
              %dd= @van.mileage
              %dt Fuel Type
              %dd= @van.fuel_type
              %dt Drivetrain
              %dd= @van.transmission
          .van-features
            %h3 Features
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ipsum quidem, voluptas itaque neque repellendus animi! Sed velit exercitationem rerum alias accusamus ex dolore, obcaecati fugit, vitae, earum animi libero.
      .row
        .col-lg-12
          = @van.user_id



#contactModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "contactModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h3#paymentModalLabel.modal-title Get In Touch
      = form_tag messages_path, method: :post, id: 'messageForm', remote: true do
        .modal-body
          .form-content
            .errors
            .form-group
              = hidden_field_tag 'message[van_id]', @van.id

              %label Your Name
              = text_field_tag "message[name]", current_user.try(:name), class: 'form-control'

            .form-group
              %label Your Email
              = text_field_tag "message[reply_to_email]", current_user.try(:email), class: 'form-control'

            .form-group
              %label Body
              = text_area_tag 'message[body]', nil, rows: 5, class: 'form-control'

        .modal-footer
          %button.btn.btn-default.btn-sm{"data-dismiss" => "modal", :type => "button"} Close
          = submit_tag "Send", class: 'btn btn-primary btn-sm send-email-btn'
