= link_to company_path(company) do
  .panel.company-card
    .row
      .col-sm-2
        .company-image
          = image_tag company.card_photo
      .col-sm-10
        %h2= company.name
        %p= company.location
        %p.description= truncate(company.description, :ommision => "... More", :length => 300)
        %p.services= company.services_offered
