= link_to van_path(van) do
  .van-card
    .van-image{style: 'background: url('"#{card_photo(van.photos)}"') center center no-repeat;background-size:cover;'}
      - if van.is_for_sale?
        .van-price
          -if van.is_sold?
            SOLD
          -else
            = "$ #{van.price}"
    .van-card-content
      .van-title
        = van.title
      .van-make
        = van.make
        = van.model
        = van.year

