%meta{:content => image_url('facebook_image.png'), :name => "og:image"}/
%meta{:content => "image/png", :property => "og:image:type"}/
%meta{:content => "website", :name => "og:type"}/
%meta{:content => "Vantasies - Find, share, and sell adventure vans.", :name => "og:title"}/
%meta{:content => "https://www.vantasies.com", :name => "og:url"}/

.container
  .row
    .col-lg-12
      .homepage-header
        .homepage-header--content
          .col-lg-8.col-lg-offset-2.col-sm-12
            %h1 Find, share, and sell adventure vans.
            %p.pad2b We're here to help fulfill your wildest vantasies
            = link_to "Browse Awesome Vans", vans_path, class: 'btn btn-primary m1r mob-m1b'
            = link_to "Post a Van", new_van_path, class: 'btn btn-default'

.container
  .row.text-center.pad4t
    .col-lg-10.col-lg-offset-1
      %h2.home-section-title Find van rental or conversion companies
  .row
    - @companies.each do |company|
      .col-sm-4
        = render partial: "components/company-card", locals: {company: company}
  .row
    .col-md-4.col-md-offset-4.pad8b
      = link_to 'See All Companies', companies_path, class: 'btn btn-primary btn-block'

.container
  .row.text-center
    .col-lg-10.col-lg-offset-1
      %h2.home-section-title Check out amazing vans!
  .row
    - @vans.each do |van|
      .col-sm-4
        = render partial: "components/van-card", locals: {van: van}
  .row
    .col-md-4.col-md-offset-4
      = link_to 'See All Vans', vans_path, class: 'btn btn-primary btn-block'

