.container

  .row
    .col-lg-10.col-lg-offset-1
      .js_edit_photos
        = render partial: 'companies/photos/edit_photos'
  .row
    .col-lg-8.col-lg-offset-2
      .form-area
        = form_for @company, url: company_path(@company), method: :put do |f|
          .panel.pad3
            .form-group
              %label Company Name
              = f.text_field :name, class: 'form-control'
            .form-group
              %label Location
              = f.text_field :location, class: 'form-control'
            .form-group
              %label Description
              = f.text_area :description, class: 'form-control'
            .row
              .col-lg-6
                .form-group
                  %label Website
                  = f.text_field :website_url, class: 'form-control'
              .col-lg-6
                .form-group
                  %label Phone Number
                  = f.text_field :phone_number, class: 'form-control'
            .form-group
              %label Services Offerred
              = f.text_field :services_offered, class: 'form-control'

            .form-group
              = f.submit 'Save', class: 'btn btn-primary'
