.container
  .row.pad4y
    .col-lg-8
      %h1 Companies
      %p Find local companies for van rentals, van buildouts, or adventure vehicle dealerships.
    .col-lg-4.text-right
      = link_to "Add Your Company", new_company_path, class: 'btn btn-primary'

  .row
    .col-lg-12
      - @companies.each do |company|
        = link_to company_path(company) do
          .panel.company-card
            .row
              .col-sm-2
                = image_tag company.card_photo
              .col-sm-10
                %h2= company.name
                %p= company.location
                %p= company.services_offered
