.row
  .col-lg-8.col-lg-offset-2
    .panel.pad3
      %h1= @company.name
      %p= @company.location
      %p= @company.description
      %p= @company.website_url
      %hr
      - @company.photos.ordered.each do |p|
        = image_tag p.image.url(:medium)


