= content_for(:og_tags) do
  %meta{:content => "#{@company.name} - Vantasies", :name => "og:title"}/
  %meta{:content => @company.description, :name => "og:description"}
  %meta{:content => @company.original_photo, :name => "og:image"}

= render partial: 'companies/not_paid_warning'

%div.container
  .row
    .col-lg-12
      .panel.m4t
        .container-slick
          .slick-slider
            - @company.photos.ordered.each do |p|
              %div
                = image_tag p.image.url(:large)

        .pad3.text-center
          %h1= @company.name
          = link_to("edit company", edit_company_path(@company), class: "btn btn-default btn-sm")  if current_user == @company.user
          %p= @company.location
          %p= @company.description
          %p= @company.website_url
          .text-center.m4y
            = link_to "Visit Company Website", @company.website_url, target: '_blank', class: 'btn btn-primary'
  .row
    - @company.vans.each do |van|
      .col-sm-4
        = render partial: "components/van-card", locals: {van: van}

:javascript
  $(document).ready(function(){
    $('.slick-slider').slick({
       dots: true,
       adaptiveHeight: false,
       variableWidth: true,
       centerMode: true,
       arrows: true,
       centerPadding: 10,
       autoplay: true,
       autoplaySpeed: 4000
     });
  });


