.col-lg-9.col-lg-offset-1
  %h3 Edit Photos
  %small.small.text-muted
    (Drag to reorder, click delete to remove)
  .edit-photos-container.clearfix
    - @company.photos.ordered.each_with_index do |p, i|
      .editable-photo{ data:{id: p.id} }
        = image_tag p.image.url(:medium)
        = link_to 'delete', company_photo_path(@company, p), class: 'delete-photo font14 text-danger', method: :delete, remote: true
  .update-notification
  %br
  %p Upload more
  = form_for :company_photos, url: company_photos_path(@company), method: :post, authenticity_token: true, :html => { :multipart => true, "data-type" => :js }, :remote => true do |f|
    = f.file_field :photos, type: :file, multiple: true
    .hidden
      = f.submit 'Save', class: 'submit-btn'


:javascript
  $(function() {
    $('.edit-photos-container .delete-photo').click(function(){
      $(this).append('<i class="fa fa-refresh fa-spin font12"></i>');
    });
    
    $( ".edit-photos-container" ).sortable({
        update: function() {
          var ordered_photo_array = $('.editable-photo').map(function() {
                         return $(this).attr("data-id");
                     }).get();

          $.ajax({
            method: 'PUT',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "/companies/#{@company.id}/reorder_photos",
            data: "photos="+ordered_photo_array,
          });
        }
    });

    $(".edit-photos-container").disableSelection();
  });
