.container

  .row
    .col-lg-8.col-lg-offset-2
      .row
        .col-lg-12
          %h1 Posting a van by #{@company.name}
          .col-lg-6.col-lg-offset-3
            .card.text-center
              %h2
                Want discounted Vans?
              %p Contact us for bulk deals! (Special for companies)
      .form-area
        = form_for @van, url: company_vans_path(@company), method: :post, html: {multipart: true} do |f|
          
          = render partial: 'shared/new_van_form', locals: {f: f}
          %div{class: ('hidden' if @company.van_credits > 0).to_s}
            .form-group
              .well
                %h3.m00 Post this van for sale?
                %hr
                .row
                  .col-lg-4
                    .btn-group.colors{"data-toggle" => "buttons"}
                      %label.btn.btn-default.active{ data: { toggle: "collapse" }, href: "#couponContainer"}
                        = f.radio_button :is_for_sale, 1, checked: 'checked'
                        Yes
                      %label.btn.btn-default{ data: { toggle: "collapse" }, href: "#couponContainer"}
                        = f.radio_button :is_for_sale, 0, checked: false
                        No
                #couponContainer
                  .small
                    (We wont charge you until the next step)
                  .row
                    .col-lg-4
                      .form-group
                        %label Coupon Code
                        = text_field_tag 'coupon_code', nil, class: 'form-control'

                  
          .form-group
            = f.submit 'Save', class: 'btn btn-primary'
