.container
  .row
    .js_edit_photos
      = render partial: 'vans/photos/edit_photos'
  %hr
  .row
    .col-lg-8.col-lg-offset-2
      .clearfix
        %h3.pull-left Edit Van
        = link_to user_van_path(current_user, @van, van: {is_sold: true}), method: :put, class: 'btn btn-sm btn-secondary pull-right' do
          Mark as sold!

      .form-area
        = form_for @van, url: user_van_path(current_user, @van), method: :put do |f|
          = render partial: 'shared/new_van_form', locals: {f: f}

          .form-group
            = f.submit 'Save', class: 'btn btn-primary'
            = link_to "delete this van", user_van_path(current_user, @van), method: :delete

